node_modules
coverage
.DS_Store
npm-debug.log
.env
.vscode
.idea
dist
logs
*.log
pids
*.pid
*.seed
*.pid.lock
lib-coverage
.nyc_output
coverage-final.json
report.xml
test-coverage
mochawesome-report
mochawesome.json
yarn-error.log
yarn-debug.log
